# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts should always use LF
*.sh text eol=lf

# YAML files
*.yaml text eol=lf
*.yml text eol=lf

# Other text files
*.md text eol=lf
*.json text eol=lf
*.txt text eol=lf